.series-section {
	width: 100%;
	padding-top: 0.15rem;
	padding-bottom: 15px;
	align-items: center;
	background: url("../../img/back5.jpg");
	/*background-color: black;*/
	/*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6)!important;*/
}
.heading_series-section {

	font-family: Namyv;
	font-weight: 700;
	font-size: 2rem!important;
	/*text-shadow: darkorange 1px 1px 15px;*/
	color: white;
	align-content: center;
}

.heading_series-section::first-letter {
	color: red;
}

.series-card {
	background: none !important;
	/*background-color: black !important; */
	/*border: 2px solid skyblue !important;*/
	width: 75%;
	flex-direction: row !important;
	align-items: center !important;
	border: none!important;
}

.series-photo {
	padding-top: 0.5rem!important;
	width: 20% !important;
	/*filter: drop-shadow(4px 4px 30px #d3d0cb);*/
}
.series-name{
	margin-top: 2rem!important;
}
.series-name,
.series-years {
	font-family: Namyv;
	font-weight: 500;
	color: white;
	font-size: 2.35rem !important;


}

.person-description {
	font-family: Namyv;
	font-weight: 400;
	color: white;
	font-size: 1.25em!important;
}

.button-more {
	background: black !important;
	color: white !important;
	border: 2px solid skyblue !important;
	font-family: Namyv !important;
	font-weight: 400 !important;
	font-size: 16px !important;
	padding: 10px 30px !important;
	margin-top: 0.05rem !important;
	margin-left: 5px;
}

.button-more:hover {
	background: white !important;
	color: black !important;
}

@media only screen and (max-width: 992px) {
	.person-section {
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.person-section {
		width: 100%;
	}

	.person-card {
		flex-direction: column !important;
		align-items: center !important;
	}

	.person-info {
		text-align: center;
	}

	.person-photo {
		height:20% !important;
		width: 25% !important;
	}
}
