.architects-block {
    background-image: url("../img/fon2.png");
    background-size: cover;
}

.architects-list-card{
    background-color: rgba(0, 0, 0, 0) !important;
	width: 100% !important;
	align-items: center;
}

.architects-list-group{
	width: 100% !important;
	align-items: center;
}

.arch-list-item{
    background: rgba(0, 0, 0, 0) !important;
	align-items: center;
    display:flex;
}
.arch-photo{
    width: 15%;
}
.arch-card{
    display: flex;
}
.arch-inf{
    padding-left: 2%;
    padding-top: 2%;
}
.arch-list-item:hover{
    background-color: #111328 !important;
    opacity: 0.8;
	align-items: center;
}
.arch-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.search-form {
    width: 25%;
    padding-right: 1%;
    padding-top: 1%;
    margin-left: auto; 
    margin-right: 0;
}

.search-box {
    border-radius: 10px;
}

.search-box::placeholder {
    font-style: italic;
    color: white;
}

.series-fio {
    font-family: Playfair;
    font-size: 2.1em;
    margin-bottom: 0;
    color: white;
}
.series-descr {
    font-family: Playfair;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: white;
}
.series-authors{
    font-family: Playfair;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: white;
}
.series-authors::first-letter {
    color: red;
}
.series-composers{
    font-family: Playfair;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    color: white;
}
.series-composers::first-letter {
    color: red;
}
.series-ex_prod{
    font-family: Playfair;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    color: white;
}
.series-ex_prod::first-letter {
    color: red;
}
.series-main_char{
    font-family: Playfair;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    color: white;
}
.series-main_char::first-letter {
    color: red;
}
@media only screen and (max-width: 992px) {
    .arch-wrapper {
        flex-direction: column;
    }

    .search-form {
        width: 90%;
        padding-top: 30px;
    }
}
