.HomePage{
/*background-image: url("../img/bckg_about.png");
    background-repeat: no-repeat!important;
    background-size: cover !important;*/
    background-image: url("../img/back5.jpg");

}
.info-section {
    display: block;
}


@media only screen and (max-width: 992px) {
    .info-section {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .info-section {
        display: block;
    }
}
