@font-face {
	font-family: BoldF;
	src: url(/src/fonts/1.ttf);
}
@font-face {
	font-family: BigFont;
	src: url(/src/fonts/2.ttf);
}
@font-face {
	font-family: MediumS;
	src: url(/src/fonts/3.ttf);
}

@font-face {
	font-family: Namyv;
	src: url(/src/fonts/Namyv-Light.ttf);
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
